@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body{
  background: #fff;
  font-display: swap;
}
@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Parkinsans';
  src: url('/fonts/Parkinsans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: 'Parkinsans', sans-serif;
}
p, span{
  font-family: 'Parkinsans', sans-serif; 
}
ul{
  font-family: 'Parkinsans', sans-serif;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
  animation-delay: 1s;
}
.opacity-0 {
  opacity: 0;
}